<h1>Edit the Figure!</h1>

<form action="/figures/<%= @figure.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">

  <p>Figure Name: <input type="text" name="figure[name]" id="figure_name" value = "<%= @figure.name %>"></p>

  <label>Titles: </label>
    <% @titles.each do |title| %>
    <%= title.name %><input type="checkbox" name="figure[title_ids][]" value="<%=title.id%>" id="title_<%=title.id%>" <%= 'checked' if @figure.titles.include?(title)%>>
    <br>
    <% end %>

  <label>Create New Title:</label>
    <input type="text" name="title[name]" id="new_title">
    <br>

  <label>Figure's Landmarks</label>
    <% Landmark.all.each do |landmark| %>
    <%= landmark.name %><input type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>" id="landmark_<%= landmark.id %>">
    <br>
    <% end %>

  <label>Create A New Landmark for this figure: </label>
    <p>Name: <input type="text" name="landmark[name]" id="new_landmark"></p>
    <p>Year Completed: <input type="text" name="landmark[year_completed]"></p>

  <input type="submit" value="Edit Figure" id="Edit Figure">

</form>
