<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Create a new Figure!</h1>

    <form action="/figures" method="post">

      <p>Figure Name: <input type="text" name="figure[name]" id="figure_name"></p>

      <label>Titles: </label>
        <% @titles.each do |title| %>
        <%= title.name %><input type="checkbox" name="figure[title_ids][]" value="<%=title.id%>" id="title_<%=title.id%>">
        <br>
        <% end %>

      <label>Create New Title:</label>
        <input type="text" name="title[name]" id="new_title">
        <br>

      <label>Figure's Landmarks</label>
        <% Landmark.all.each do |landmark| %>
        <%= landmark.name %><input type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>" id="landmark_<%= landmark.id %>">
        <% end %>
        <br>

      <label>Create A New Landmark for this figure: </label>
        <p>Name: <input type="text" name="landmark[name]" id="new_landmark"></p>
        <p>Year Completed: <input type="text" name="landmark[year_completed]"></p>

      <input type="submit" value="Create New Figure" id="Create New Figure">

    </form>

  </body>
</html>
